@use "./resets";
@import "./variables";

.layout {
  width: 100%;
  height: 100%;
  display: flex;

  &__page {
    padding: 30px;
    width: 100%;

  }
}

.sidebar {
  width: 300px;
  min-height: 100vh;
  height: 100%;
  padding-top: 30px;
  background-color: $secondary-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 24px;
    color: $primary-blue;
    padding-left: 22px;
  }

  &__title-bold {
    font-weight: bold;
  }

  &__navigation {
    margin-top: 30px;
  }

  &__navigation-item {
    padding: 12px 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;

    p {
      padding-left: 10px;
      font-size: 0.8em;
      color: $primary-blue;
    }

    &:hover {
      border-left: 3px solid $primary-red;
      background-color: #fff;
    }
  }

  &__navigation-active {
    border-left: 3px solid $primary-red;
    background-color: #fff;
  }

  &__main {
    width: 100%;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
  }
}

.page__title {
    font-size: 1.2rem;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin: 40px 0;
}
.card {
  width: 350px;
  height: 200px;
  border: 1.5px solid $primary-grey;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  
  &__main {
    display: flex;
    flex-direction: column;

    h3 {
        color: $primary-blue;
      }

    p {
    margin-top: 24px;
      color: $primary-grey;
      line-height: 30px;
    }
  }

  &__aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &-active {
          margin-top: 10px;
          font-size: .8rem;
          font-weight: bold;
          color: $primary-green;
      }
      &-inactive {
        margin-top: 10px;
        font-size: .8rem;
        font-weight: bold;
        color: $primary-red;
      }

  }

  &-disabled {
      opacity: 0.4;
  }
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}